@import "my-style2";
@import "color";

$prefix : rdfreitas-;

.#{$prefix}my-div{
    color: red;
    margin: {
        top: 5px;
        bottom: 10px;
    }

    &:hover{
        color: green;
    }
}